@page "/signUp"

@inherits SignUpComponent


<PageTitle>Регистрация</PageTitle>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Регистрация</h2>
                            <div id="messages">
                                <ul>
                                    @foreach (var item in SignUpModel.Messages)
                                    {
                                        <li>@item</li>
                                    }
                                </ul>
                            </div>

                            <EditForm EditContext="@_editContext" OnValidSubmit="SignUp">
                                <DataAnnotationsValidator />
                                <div class="form-outline form-white mb-4">
                                    <InputText id="typeEmailReg" @bind-Value="SignUpModel.Email" class="form-control" />
                                    <ValidationMessage For="@(() => SignUpModel.Email)" />
                                    <label class="form-label" for="typeEmailReg">Email</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <InputText type="password" id="typePasswordFirstReg" @bind-Value="SignUpModel.FirstPassword" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordFirstReg">Пароль</label>
                                    <ValidationMessage For="@(() => SignUpModel.FirstPassword)" />
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <InputText type="password" id="typePasswordSecondReg" @bind-Value="SignUpModel.SecondPassword" class="form-control form-control-lg" />
                                    <label class="form-label" for="typePasswordSecondReg">Повторите пароль</label>
                                    <ValidationMessage For="@(() => SignUpModel.SecondPassword)" />
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Регистрация</button>
                            </EditForm>
                        </div>

                        <div>
                            <p class="mb-0">
                                У Вас уже есть аккаунт?
                                <NavLink class="nav-link" href="">
                                    <span class="text-white-50 fw-bold">Войти</span>
                                </NavLink>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>