@using BlazorDiplom.ViewModels
@inherits FuzzyConstructorComponent

<div>
    <div>
        <h5>Выберите тип лингвистической переменной:</h5>
    <div>
            <DxComboBox
                Data="LinguisticVariableType" 
                Value="LinguisticVariableBindedValue"
                ValueFieldName="Key"
                        SelectedItemChanged="(KeyValuePair<int, string> item) => OnLinguisticChanged(item)"
                EditFormat="{0}"
                        DisplayFormat="{0}">
            <Columns>
                <DxListEditorColumn Caption="Наименование" FieldName="Value" />
            </Columns>
        </DxComboBox>
    </div>
    </div>
    <div>
        <fieldset id="fuzzyFuncRadio">
        @if (FuzzyFunctionDt is not null)
        {
            <h5>Выберите тип функции принадлежности:</h5>

            foreach (var item in FuzzyFunctionDt)
            {
                <div>
                  <input name="fuzzyFuncRadio" value="@item.Id" type="radio" onchange="@SelectedFuzzyFunctionChanged" />
                  <img width="200" height="150" src="@item.ImgSrc" />
                  <p>@item.Description</p>
                </div>
            }
        }
        </fieldset>
    </div>
    <div>
    @if (SelectedFuzzyFunctionData != null)
    {
            <div>
              <h5>Введите минимальный порог соответствия элементов лингвистической переменной:</h5>
            </div>
           
            <div>
              <InputNumber @bind-Value="@CustomLinguisticVariableData.MinIndex" />
            </div>

            <div>
              <h5>Введите точки для построения функции принадлежности:</h5>
            </div>

            var index = 0;
            foreach (var item in SelectedFuzzyFunctionData.YValues)
            {
                var ii = index;
                <div>
                    <p>Точка #@(index+1). Значение по оси ординат = @(item) </p>
                    <InputNumber @bind-Value="@CustomLinguisticVariableData.Points[ii]" />
                </div>

                index += 1;
            }

            @if (@CustomLinguisticVariableData.Points.Any(item => item != 0))
            {
                <DxChart Data="@CustomLinguisticVariableData.PointsForChart">
                    <DxChartLineSeries Name="Функция принадлежности"
                                       ArgumentField="((double X, double Y) item) => item.X"
                                       ValueField="((double X, double Y) item) => item.Y"
                                       DashStyle="ChartDashStyle.Dash">
                    </DxChartLineSeries>
                </DxChart>
            }

            <div>
              <h5>Выберите меру к которой относится лингвистическая переменная:</h5>
            </div>
            <div>
              <DxComboBox ValueFieldName="AttrName" Data="@OlapAttrs" @bind-Value="@CustomLinguisticVariableData.MOLAPItemName" EditFormat="{0}" DisplayFormat="{0}">
                 <Columns>
                  <DxListEditorColumn Caption="Наименование" FieldName="AttrName" />
                </Columns>
              </DxComboBox>
            </div>
             <div>
              <h5>Введите наименование лингвистической переменной:</h5>
            </div>
            <div>
              <InputText @bind-Value="@CustomLinguisticVariableData.Name" />
            </div>

            <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained"  Text="Сохранить" Click="@SaveChanges"></DxButton>
        }
    </div>

</div>
